<% if usuario_signed_in? %>
  <% @clases.each do |cl| %>
    <div class="card m-2">

      <div class="card-header">
        <div class="row">
          <div class="col col-10">
            <h5 class="card-title">
              <%= lucide_icon('calendar-clock') %> 
              <%=cl.clase.clase_humano %> 
            </h5>
          </div>
          <div class="col col-2">
            <button type="button" class="btn btn-outline-primary p-1" data-bs-toggle="collapse" data-bs-target="#menuClases-<%=cl.id%>">
              <%= lucide_icon('panel-top-open') %> 
            </button>
          </div>
        </div>
      </div>

      <div class="card-body pt-0">
          <div class="">
              <div class="row mt-2">
                  <div class="col col-2 d-flex flex-column border border-secondary border-1 bg-light rounded-circle justify-content-center align-items-center">
                    <span class="display-6"> <%= cl.diaHora.hour.to_s.rjust(2,'0') %> </span>
                    <span class="display-6"> <%= cl.diaHora.min.to_s.rjust(2,'0') %>  </span>
                  </div>
                  <div class="col col-10 d-flex flex-column">
                    <span class="text-<%=cl.clase.instructor.color%>"><%=cl.instructor.nombre %></span>
                    <span class="text-monospace font-weight-light fw-light">Aula <%= cl.clase.aula.nombre %></span>
                  </div>
              </div>
              <div class="row collapse show" id="menuClases-<%=cl.id%>">
                <button type="button" class="btn btn-outline-secondary mt-2">Cambiar Clase</button>
                <button type="button" class="btn btn-outline-secondary mt-2">No asistiré</button>
              </div>
          </div>
      </div>

    </div>
  <% end %>
<% else %>
  <p> sin loguear </p>
<% end %>
