
<% if usuario_signed_in? %>
  <div class="row d-flex justify-content-between mb-5">
    <%= link_to(clases_asignadas_path, class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
        <p class="text-center mb-0">
          <%= lucide_icon('calendar-clock', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
        </p>
        <p class="text-center m-0">
          Clases Asignadas 
        </p>
    <% end %>

    <%= link_to(clases_buscar_path, class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
        <p class="text-center mb-0">
          <%= lucide_icon('calendar-search', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
        </p>
        <p class="text-center m-0">
          Buscar Clase
        </p>
    <% end %>
  </div>

  <div class="row d-flex justify-content-between mb-5">
    <%= link_to(clases_cambiar_path(id: 0), class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
      <p class="text-center mb-0">
        <%= lucide_icon('replace', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
      </p>
      <p class="text-center m-0">
        Cambiar Clase
      </p>
    <% end %>
    <%= link_to(clases_listaEspera_path, class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
      <p class="text-center mb-0">
        <%= lucide_icon('hand', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
      </p>
      <p class="text-center m-0">
        En lista de espera
      </p>
    <% end %>
  </div>

  <div class="row d-flex justify-content-between mb-5">
    <%= link_to(clases_historial_path, class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
      <p class="text-center mb-0">
        <%= lucide_icon('file-clock', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
      </p>
      <p class="text-center m-0">
        Historial
      </p>
    <% end %>
    <%= link_to(usuario_path, class: 'd-flex col-6 flex-column text-decoration-none text-dark') do %>
      <p class="text-center mb-0">
        <%= lucide_icon('user-round-pen', 'width' => '64', 'height' => '64', 'stroke-width' => '1', 'stroke' => '#e32222') %> 
      </p>
      <p class="text-center m-0">
        Perfil
      </p>
    <% end %>
  </div>

<% else %>
  <p> sin loguear </p>
<% end %>
